#location-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#map-container {
    width: 95vw;
    height: 70vh;
}

.marker-heading {
    color: #66023c;
}

.marker-text {
    font-size: 1rem;
}

.marker-link {
    font-size: 1.2rem;
}


@media screen and (max-width: 480px) {
    .maker-img img,
    .city-img img {
        width: 300px;
    }

}
    