{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid my-5" id="hero-img-container">
        <div class="row">
            <div class="col">
                <h1 class="display-2 text-center">1001 Souks</h1>
            </div>
        </div>
    </div>
    <div class="container" id="about-container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Intro Header</h2>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4" id="about-img"></div>
            <div class="col-md-6 col-lg-8" id="intro-text">
                <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam reiciendis doloribus mollitia placeat quia! Reiciendis velit, vero, deserunt eveniet expedita saepe hic placeat et, eligendi harum tenetur alias eum ipsa?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique perferendis vero iusto, quasi animi illo recusandae repellat quae placeat asperiores, ex dolorum unde quam, distinctio dolor deleniti beatae quod possimus molestiae mollitia adipisci earum. Vero, neque distinctio. Labore quo facere ducimus est tempore doloribus explicabo, quidem officia voluptatum veniam iste, accusantium sit nihil ut. Debitis recusandae itaque ad et, omnis magni quae molestias. Qui adipisci atque, fuga, tempora nesciunt corporis distinctio laborum vero delectus, maxime nobis commodi excepturi perspiciatis ea. Maiores natus, saepe, adipisci neque repellendus blanditiis, quos eaque nesciunt aspernatur laborum quia. Explicabo ea possimus quia cum expedita modi!</p>
            </div>
        </div>     
    </div>
{% endblock %}
