{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- link to custom css file -->
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid mb-4" id="hero-img-container">
        <div class="row w-100">
            <div class="col-12 col-lg-5 ml-auto d-flex justify-content-center flex-column" id="main-header-container">
                <h1 class="display-4 text-light" id="hero-img-text">1001 Moroccan Souks</h1>
                <h2 class="text-light d-none d-sm-block px-3 py-1" id="tag-line">Contemporary and traditional crafts from the master artisans of North Africa </h2>
            </div>
        </div>
    </div>
    <div class="container mb-3" id="about-container">
        <div class="row mb-4">
            <div class="col">
                <h2 class="text-center purple-text cairo">The Tale of 1001 Moroccan Souks</h2>
            </div>            
        </div>
        <div id="about-content-container" class="row d-flex justify-content-between">
            <div class="col-12 col-lg-6 col-xl-5" id="about-img">
                <img src="{% static 'home/images/cat-narrow.jpg' %}" class="float-md-left" alt="cat sat on coloured rugs in a souk"/>
            </div>
            <div class="col-12 col-lg-6 col-xl-7 mt-3 mt-md-0" id="intro-text">
                <p class="lead">Morocco, a name that conjures mystery. The Sahara Desert, Atlas Mountains, Bogie looking at Bergman in Casablanca, and the caravan routes of the Berber tribes bringing their goods to trade in the souks of ancient cities.</p>
                <p class="intro-font">Both the history and the craftsmanship of Morocco caught the imagination of a British tourist in 2014. The reality of her experience exceeded her expectations: Morocco was as exotic an assault on the senses as hoped for, with the added bonus of a welcoming population proud of their heritage.</p>
                <p class="intro-font">1001 Moroccan Souks is a result of the geographical love affair that began with that first visit. The tourist had years of experience in fashion and luxury retail, shopping was in her blood as was a recognition of the skills of the master artisans working hard to preserve their crafts. </p>                
            </div>
        </div>
        <div class="row mt-4 d-flex justify-content-between">
            <div class="col-12 col-xl-6 mt-3" id="intro-text2">                
                <p class="intro-font">Our artisans use sustainable practices as much as possible. The importance of maintaining availability of natural materials is equal to the passing of skills to the next generation. The pandemic years, coupled with regular droughts, have been hard for people reliant on tourism for much of their income. The beauty and practicality of their wares are however undimmed.</p>
                <p class="intro-font">We offer a range of shopping services for UK customers: you can buy products directly from Moroccan artisans through this website; many of the products can be personalised at your request; our artisans will make items to your bespoke requirements; and we can source individual items on request across the kingdom of Morocco.</p>
                <p class="signature">Scheherazade</p>
            </div>
            <div class="col-12 col-xl-6 mt-2" id="stall-img">
                <img src="{% static 'home/images/stall.jpg' %}" class="float-md-right" alt="a colourful stall in a souk">
            </div>
        </div>         
    </div>
{% endblock %}
