#hero-img-container {
    width: 100%;
    height: 80vh;
    background-image: url(../../../../media/shoes-cropped.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: left;  
}

#main-header-container {
    background-color:#205ba3;
    opacity: 0.85;
    color: aliceblue;
    float:right;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding: 0.25rem 2rem;
}

#about-container {
    height: 50vh;
}

#about-img img {
    max-width: 350px;
    height: auto;
}