{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}
{% block content %}    
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-4 my-4">My Profile</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">                
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    <fieldset class="px-2 mb-3">
                        <legend class="fieldset-label purple-text px-2 w-auto">Contact Details</legend>                        
                        {{ form.default_email | as_crispy_field }}
                        {{ form.default_phone_number | as_crispy_field }}
                    </fieldset>
                    <fieldset class="px-2 mb-3">
                        <legend class="fieldset-label purple-text px-2 w-auto">Delivery Address</legend>                    
                        {{ form.default_street_address1 | as_crispy_field }}
                        {{ form.default_street_address2 | as_crispy_field }}                 
                        {{ form.default_town_or_city | as_crispy_field }}
                        {{ form.default_county | as_crispy_field }}
                        {{ form.default_postcode | as_crispy_field }}                       
                        {{ form.default_country | as_crispy_field }}                        
                    </fieldset>                    
                    <button class="btn custom-button mt-3">Update Details</button>
                </form>
            </div>
            {% if orders %}
            <div class="col-12 col-lg-6">
                <h4 class="purple-text my-4">Order History</h4>                               
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th class="purple-text">Order Number</th>
                                <th class="purple-text">Date</th>
                                <th class="purple-text">Items</th>
                                <th class="purple-text">Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product.colour_selection %}
                                                        Colour: {{ item.product.colour }}
                                                    {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ order.total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>            
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}