{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-4 my-5">Order Confirmed</h1>
                <h2 class="mb-5 purple-text">Thank you for shopping with 1001 Moroccan Souks!</h2>
                <h5 class="mt-4">Your order information is below. A confirmation email will be sent to {{ order.email }}.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7"></div>
        </div>
        
    </div>
{% endblock %}