{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- link to custom css file -->
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center my-4">
            <h1 class="display-4">Your Basket</h1>
        </div>
    </div>
    <div class="row my-4">
        {% if basket_items %}
        <div class="basket-summary">
            <table class="table table-sm table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Product Info</th>
                        <th scope="col"></th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                {% for item in basket_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.product.name }}</p>                            
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.product.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <p class="my-0">{{ item.quantity }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.product.price }}</p>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5" class="pt-5 text-right">
                        <h6><strong>Grand Total: £{{ total|floatformat:2 }}</strong></h6>                        
                    </td>
                </tr>                
            </table>
            <div class="row">
                <div class="col">
                    <button class="btn d-inline">
                        <a href="{% url 'products' %}">Continue Shopping</a>
                    </button>
                    <button class="btn d-inline">
                        <a href="#">Checkout</a>
                    </button>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h4>You currently have no items in your basket</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn">
                        <a href="{% url 'products' %}">Continue Shopping</a>
                    </button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}
