{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- link to custom css file -->
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center my-4">
            <h1 class="display-4">Your Basket</h1>
        </div>
    </div>
    <div class="row my-4">
        {% if basket_items %}
        <div class="basket-summary">
            <table class="table table-sm table-borderless">
                <thead>
                    <tr>
                        <th scope="col" class="table-heading-purple">Product Info</th>
                        <th scope="col"></th>
                        <th scope="col" class="table-heading-purple">Product Colour</th>
                        <th scope="col" class="table-heading-purple">Price</th>
                        <th scope="col" class="table-heading-purple">Quantity</th>
                        <th scope="col" class="table-heading-purple">Subtotal</th>
                    </tr>
                </thead>
                {% for item in basket_items %}                   
                    <tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.product.name }}</p>                                                      
                        </td>
                        {% if item.colour %}
                        <td class="py-3">
                            <p class="my-0">{{ item.colour }}</p> 
                        </td>
                        {% else %}
                        <td class="py-3">
                            <p class="my-0">N/A</p> 
                        </td>
                        {% endif %}
                        <td class="py-3">
                            <p class="my-0">£ {{ item.product.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <form method="POST" class="form update-form" action="{% url 'adjust_basket' item.item_id %}">
                                {% csrf_token %}
                                <div class="col-12">
                                    <div class="form-group w-50">                                                      
                                            <input class="form-control qty_input" type="number" name="quantity" 
                                            value="{{item.quantity}}" min="1" max="99" 
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                            {% if item.product.colour_selection %}
                                                <input type="hidden" name="product_colour" value="{{ item.colour }}">
                                            {% endif %}                       
                                    </div>
                                </div>
                            </form>
                            <div class="d-flex justify-content-around w-50">
                                <a class="update-link">Update</a>
                                <a class="remove-item" id="remove_{{ item.item_id }}" data-product_colour="{{ item.colour }}">Remove</a>
                            </div>                         
                        </td>
                        <td class="py-3">
                            <p class="my-0">£ {{ item.subtotal|floatformat:2 }}</p>
                        </td>
                    </tr>                                
                {% endfor %}
                <tr>
                    <td colspan="5" class="pt-5 text-right">
                        <h6 class="table-heading-purple"><strong>Total: £ {{ total|floatformat:2 }}</strong></h6>                        
                    </td>
                </tr>                
            </table>
            <div class="row">
                <div class="col">
                    <button class="btn d-inline custom-button">
                        <a href="{% url 'products' %}" class="custom-button">Continue Shopping</a>
                    </button>
                    <button class="btn d-inline custom-button ml-4">
                        <a href="#" class="custom-button">Checkout</a>
                    </button>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h4>You currently have no items in your basket</h4>
                </div>
            </div>
            <div class="row">
                <div class="col text-center mt-5">
                    <button class="btn custom-button">
                        <a href="{% url 'products' %}" class="custom-button">Continue Shopping</a>
                    </button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    // The below code is taken from the Boutique Ado walkthrough

    // Update quantity on click
    
    $('.update-link').click(function(e) {
        var form = $(this).parent().prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var colour = $(this).data('product_colour');
        var url = `/basket/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_colour': colour};

        $.post(url, data)
            .done(function() {
                location.reload();
            });
    })

</script>
{% endblock %}