#main-nav {
    background-color: #EDC54D;
    padding: 0.7rem;
    color: #66023C;
}

.navbar-light .navbar-nav .nav-link {
    color: #66023C !important;
    font-size: larger;
}


#main-footer {
    background-color: #EDC54D ;
    padding: 1rem;
    color: #66023C;
}

#main-footer li {
    display: inline;
}

#main-footer i {
    color: white;
    font-size: 2.5rem;
    float:right;
    padding: 0 3rem;
}

#main-footer i:active,
#main-footer i:hover {
    color: rgb(5, 152, 196);
}
