#main-nav {
    background-color: #EDC54D;
    padding: 0.7rem;
    height: 4rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #66023C !important;
    font-size: larger;
}

#search-container i {
    color: #66023C !important;
}

#search-container .input-group {
    border: #66023C 1px solid;
    border-radius: 3px;
}

h1 {
    color: #66023C;
}

#main-container {
    height: calc(100vh - 7rem);
    position: relative;
    top: 4rem;
}

#main-footer {
    background-color: #EDC54D ;
    padding: 1rem;
    height: 3rem;
}

#main-footer h4 {
    color:#66023C
}

#main-footer li {
    display: inline;
}

#main-footer i {
    color: #66023C;
    font-size: 2.5rem;
    float:right;
    padding: 0 3rem;
}

#main-footer i:active,
#main-footer i:hover {
    color:#2978D6;
}
