#main-nav {
    background-color: rgb(197, 90, 18);
    padding: 1rem;
}

#main-footer {
    background-color: rgb(197, 90, 18);
    padding: 1rem;
}

#main-footer li {
    display: inline;
}

#main-footer i {
    color: white;
    font-size: 2.5rem;
    float:right;
    padding: 0 3rem;
}

#main-footer i:active,
#main-footer i:hover {
    color: rgb(5, 152, 196);
}
