#location-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#map-container {
    width: 90vw;
    max-height: 70vh;
    margin-bottom: 2rem;
}