.custom-button {
    background-color: #66023C;
    color: white;
    text-decoration: none;
}

.custom-button:active,
.custom-button:hover {
    background-color: #560434;
    color: #EDC54D;
    text-decoration: none;
}

.category-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-detail-img {
    width: 300px;
    height: fit-content;
}