.heading-container {
    margin-top: 120px;
}

.custom-button:active,
.custom-button:hover {
    background-color: rgba(67, 67, 235, 0.726);
}

.button-text {
    color: white;
    text-decoration: none;
}

.button-text:active,
.button-text:hover {
    color: orange;
    text-decoration: none;
}

.category-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}