{% extends 'base.html' %}

{% load static %}


{% block extra_title %}
Page Not Found
{% endblock %}

{% block content %}
<!-- Contents of 404 page with a button linking back to the home page -->
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 id="404-title" class="purple-text cairo text-center m-5">Oops you seem to have wandered far from the souks!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <img src="{% static 'images/desert.png' %}"  alt="image of a man and a camel in a desert" height="250px">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a class="btn custom-button m-5" href="{% url 'home' %}">Back to the souks</a>
        </div>
    </div>
</div>
    
        
    
        
    
        
      
</div>
{% endblock %}