#hero-img-container {
    width: 100%;
    height: 50vh;
    background-image: url(../../../media/max-brown-ORRAMzk5ErQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: left;  
}

#main-header-container {
    background-color: rgba(2, 86, 155, 0.85);
    color: white;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding: 0.25rem 2rem;
}

#about-container {
    height: 50vh;
}