{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- link to custom css file -->
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
    <div class="heading-container text-center">
        <h1 class="display-3 my-4">All Products</h2>
    </div>
    <div class="products-container row my-5">
        {% for product in products %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 text-center">
            <div class="card mx-auto my-4 p-2 yellow-background border" style="width: 16rem;">        
                {% if product.image1 %}
                <img class="card-img-top" src="{{product.image1.url}}" alt="Card image cap">
                {% endif %}
                <div class="card-body"> 
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text card-category">{{product.category}}</p>                
                    <p class="card-text item-price">£ {{product.price}}</p>
                    {% if product.maker %}
                    <p class="card-text item-maker">{{product.maker}}</p>
                    {% endif %}
                    {% if product.colour1 %}
                    <p class="card-text item-colour"><span>Colours: {{ product.colour1 }} 
                        {% if product.colour2 %} / {{ product.colour2 }} {% endif %}
                        {% if product.colour3 %} / {{ product.colour3 }} {% endif %}</span>
                    </p>
                    {% endif %}
                    <a href="{% url 'product_info' product.id %}" class="btn custom-button">View details</a>
                </div>
            </div> 
        </div>              
        {% endfor %}
    </div>    
{% endblock %}
