{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- link to custom css file -->
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
    <div class="heading-container">
        <h2 class="display-3 my-5">All Products</h2>
    </div>
    <div class="products-container">
        {% for product in products %}
        <img src="{{product.image.url}}" width="200">
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>
        <p>£ {{product.price}}</p>

        {% endfor %}
    </div>    
{% endblock %}
