{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- link to custom css file -->
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
    <div class="heading-container">
        {% for category in categories %}
        <div class="row w-100">
            <div class="col">
                <h1 class="display-3 mt-2 text-center purple-text">{{category.friendly_name|capfirst}}</h1>
            </div>            
        </div>
        <div class="row mt-3 px-3">
            <div class="col-xl-6 category-img-container mb-4">
                <img src="{{category.image.url}}" width="600" alt="{{category.name}}">
            </div>
            <div class="col-xl-6  pr-xl-4">
                {% if category.subtitle %}
                <div class="row mt-3">
                    <div class="col text-center">
                        <h2 class="purple-text">{{category.subtitle}}</h2>
                    </div>
                </div>
                {% endif %}
                <p class="lead">{{category.description_paragraph1}}</p>
                {% if category.description_paragraph2 %}
                <p>{{category.description_paragraph2}}</p>
                {% endif %}
                {% if category.description_paragraph3 %}
                <p>{{category.description_paragraph3}}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}        
    </div>
    <hr>
    <div class="container">
        <div class="row my-5">
            {% for product in products %}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 text-center">
                <div class="card my-4 mx-3 p-2 yellow-background border" style="width: 14rem;">        
                    {% if product.image1 %}
                    <img class="card-img-top" src="{{product.image1.url}}" alt="Card image cap">
                    {% endif %}                    
                    <div class="card-body"> 
                        <h5 class="card-title">{{product.name}}</h5>                                 
                        <p class="card-text item-price">£ {{product.price}}</p>
                        {% if product.producer %}
                        <p class="card-text item-maker">{{product.producer}}</p>
                        {% endif %}
                        {% if product.colour1 %}
                        <p class="card-text item-colour"><span>{% if product.colour2 %}Available Colours: {% else %}Colour: {% endif %} 
                            {{ product.colour1 }} 
                            {% if product.colour2 %} / {{ product.colour2 }} {% endif %}
                            {% if product.colour3 %} / {{ product.colour3 }} {% endif %}</span>
                        </p>
                        {% endif %}
                        <a href="{% url 'product_info' product.id %}" class="btn custom-button">View details</a>
                    </div>
                    {% if request.user.is_superuser %}
                    <div class="d-flex justify-content-around">
                        <a href="{% url 'edit_product' product.id %}" class="blue-link">Edit</a> 
                        <a href="{% url 'delete_product' product.id %}" class="blue-link">Delete</a>
                    </div>                   
                    {% endif %}
                </div> 
            </div>    
            {% endfor %}
        </div>
    </div>    
{% endblock %}