{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- link to custom css file -->
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
    <div class="heading-container">
        {% for category in categories %}
        <div class="row w-100">
            <div class="col">
                <h1 class="display-3 mt-2 text-center purple-text">{{category.friendly_name|capfirst}}</h1>
            </div>            
        </div>
        <div class="row mt-3 px-3">
            <div class="col-lg-6 category-img-container">
                <img src="{{category.image.url}}" width="600">
            </div>
            <div class="col-lg-6">
                <p class="lead">{{category.description}}</h2>
            </div>
        </div>
        {% endfor %}        
    </div>
    <hr>
    <div class="products-container container my-5">
        {% for product in products %}
        <div class="card mx-5 my-2 p-2 shadow purple-background" style="width: 16rem;">
            <img class="card-img-top" src="{{product.image1.url}}" alt="Card image cap">
            <div class="card-body"> 
                <h5 class="card-title purple-text">{{product.name}}</h5>                
                <p class="card-text item-price">£ {{product.price}}</p>
                {% if product.maker %}
                <p class="card-text item-maker">{{product.maker}}</p>
                {% endif %}
                {% if product.colour_selection %}
                <p class="card-text item-colour">Colours</p>
                {% endif %}
                {% if product.size_selection %}
                <p class="card-text item-colour">Sizes</p>
                {% endif %}
                <a href="{% url 'product_info' product.id %}" class="btn custom-button">View details</a>
            </div>
        </div>    
        {% endfor %}
    </div>
{% endblock %}