<div class="toast custom-toast" data-autohide="false">
    <div class="toast-header text-purple">
        <h5 class="mr-auto purple-text">Success!</h5>
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        {{ message }}        
    </div>
    {% if total and not on_profile_page %}    
    <div class="basket-summary-container p-3">
        <p class="logo-font bg-white text-black py-1">Your Basket ({{ product_count }})</p>
        {% for item in basket_items %}
            <div class="row mx-2">
                <div class="col-3 my-1">
                    <img class="w-100" src="{{ item.product.image1.url }}">
                </div>
                <div class="col-9">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0 small">Size: {% if item.product.colour_selection %}{{ item.colour }}{% else %}N/A{% endif %}</p>
                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col">                       
                <h6 class="my-2">Total :£ {{ total|floatformat:2 }}</h6>
                <div class="row">
                    <div class="col">
                        <a href="{% url 'checkout' %}" class="btn toast-button my-2">
                            <span>Checkout Now</span>
                        </a>
                    </div>
                    <div class="col">                                               
                        <a href="{% url 'basket' %}" class="btn toast-button my-2">
                            <span>View Basket</span>
                        </a>
                    </div>
                </div>                
            </div>            
        </div>
    </div>    
{% endif %}
</div>