{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- link to custom css file -->
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
    <div class="heading-container">
        <div class="row w-100">
            <div class="col">
                <h1 class="display-3 mt-4 text-center purple-text">{{city.name}}</h1>
            </div>            
        </div>
        <div class="row mt-3 px-3">
            <div class="col-12 mb-3 col-xl-6 city-img text-center">
                <img src="{{city.image.url}}" width="600" alt="{{city.name}}">
            </div>
            <div class="col-xl-6">
                <p class="lead">{{city.description}}</p>
            </div>
        </div>     
    </div>
    {% for maker in makers %}
    <hr>    
    <div class="maker-container container my-5">
        <div class="row">
            <div class="col-12">
                <h2 class="cairo purple-text text-center mb-3">{{maker.name}}</h2>
            </div>            
        </div>
        <div class="row">
            {% if maker.image1 %}           
            <div class="col-12 col-xl-7 maker-info p-3">
                <p>{{maker.description}}</p>
            </div>
            <div class="col-12 col-xl-5 text-center maker-img">
                <img src="{{maker.image1.url}}" class="mx-auto" width="400" alt="{{maker.name}}"/>
            </div>
            {% else %}
            <div class="col-12 my-3">
                <p>{{maker.description}}</p>
            </div>
            {% endif %}
            {% if request.user.is_superuser %}
                <div class="d-flex justify-content-left my-3">
                    <h6 class="pl-3"><a href="{% url 'edit_maker' maker.id %}" class="blue-link pr-2">Edit Maker Details</a></h6>
                    <h6 class="pl-3"><a href="{% url 'delete_maker' maker.id %}" class="blue-link pl-2">Delete Maker</a></h6>
                </div>                   
            {% endif %}
        </div>  
        <div class="row my-2">
            {% for product in products %}
                {% if product.producer == maker %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 text-center">
                    <div class="card mx-4 my-2 p-2 border-0 yellow-background" style="width: 12rem;">        
                        {% if product.image1 %}
                        <img class="card-img-top" src="{{product.image1.url}}" alt="{{product.name}}">
                        {% endif %}                        
                        <div class="card-body"> 
                            <h5 class="card-title">{{product.name}}</h5>          
                            <p class="card-text item-price">£ {{product.price}}</p>
                            <a href="{% url 'product_info' product.id %}" class="purple-text">View details</a>
                        </div>
                    </div> 
                </div>                
                {% endif %}
            {% endfor %}
        </div>     
    </div>
    {% endfor %}
{% endblock %}