{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- link to custom css file -->
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
    <div class="heading-container">
        <div class="row w-100">
            <div class="col">
                <h1 class="display-3 mt-2 text-center purple-text">{{city.name}}</h1>
            </div>            
        </div>
        <div class="row mt-3 px-3">
            <div class="col-lg-6 category-img-container">
                <img src="{{city.image.url}}" width="600">
            </div>
            <div class="col-lg-6">
                <p class="lead">{{city.description}}</h2>
            </div>
        </div>     
    </div>
    {% for maker in makers %}
    <hr>    
    <div class="maker-container container my-5">
        <div class="row">
            <div class="col-12">
                <h2 class="cairo purple-text text-center mb-3">{{maker.name}}</h2>
            </div>            
        </div>
        <div class="row">            
            <div class="col col-lg-7 maker-info">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, facilis officia! Maxime quasi provident qui, placeat et dolores perferendis dolore perspiciatis eveniet tempora, 
                    sequi nulla quaerat veritatis itaque illo. Eaque ducimus ipsam, laudantium nesciunt voluptatibus iusto. Aliquid, nostrum expedita molestias mollitia beatae nemo reprehenderit 
                    sit quos corrupti pariatur nam nisi fugit a vero eius iure cupiditate quam fugiat minima rem exercitationem odio in blanditiis? Ullam facere possimus error sequi dicta excepturi 
                    tempore odio iusto laboriosam repudiandae? Molestiae dolorem nemo, eligendi velit quidem quasi soluta, consectetur excepturi a, necessitatibus tempore! Eveniet quas iure aperiam 
                    quisquam, quidem repudiandae sequi laboriosam animi reiciendis!</p>
            </div>
            <div class="col col-lg-5 maker-img text-center">
                <img src="{{maker.image1.url}}" width="350" class="mx-auto"/>
            </div>
        </div>  
        <div class="row">
            {% for product in products %}
                {% if product.producer == maker %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card mx-2 my-2 p-2 border-0 yellow-background" style="width: 16rem;">        
                        {% if product.image1 %}
                        <img class="card-img-top" src="{{product.image1.url}}" alt="Card image cap">
                        {% endif %}
                        <div class="card-body"> 
                            <h5 class="card-title">{{product.name}}</h5>          
                            <p class="card-text item-price">£ {{product.price}}</p>
                            <a href="{% url 'product_info' product.id %}" class="purple-text">View details</a>
                        </div>
                    </div> 
                </div>
                
                {% endif %}
            {% endfor %}
        </div>     
    </div>
    {% endfor %}
{% endblock %}