{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- link to custom css file -->
<link rel="stylesheet" href="{% static 'map/css/map.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid" id="location-page-container">
    <h1 class="display-4 mt-4 mb-3" id="map-heading">Makers' Map</h1>
    <h3 class="mb-3 text-center">Click on a marker and the link provided to explore locations and discover their local artisans.</h3>
    <div id="map-container"></div> 
</div>
    
{% endblock %}
{% block extra_js %}
<!-- link to javascript files to connect to Google maps api -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe_MtKgYo4PVs0HC0QO2u0ihf9TD-a6ms&callback=initMap"></script>
<script src="{% static 'map/js/map.js' %}"></script>
{% endblock %}
